<%= form_for(feedback) do |f| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :token %>
    <%= f.text_field :token %>
  </div>

  <div class="field">
    <label>What are your achievable goals for this week?</label>
    <%= f.text_area :goals_for_week, size: "60x10" %>
  </div>

  <div class="field">
    <label>Did you accomplish your goals from last week? If not, why not?</label>
    <%= f.text_area :last_week, size: "60x10" %>
  </div>

  <div class="field">
    <label>What is one small thing (or big if you wish) that you think would make our company or your work life better/more fufilling? (Rants are welcome!)</label>
    <%= f.text_area :something_small, size: "60x10" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
